html{
	height: 100%;
    color: #F5F5F5;
    line-height: 1.8;
}

h1{

	font-family: Tahoma;
	text-align: center;
	color:  #23819C;
	font-size: 10vw;

}

.ola{

	margin-left: 10%; 
}


.bye{
	position: absolute;
	left: 30.6%;
}

input[type=text] {
	border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: width 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid black;
}

.bgimg-1 {
    background-image: url('navcog.jpg');
    min-height: 100%;
}

.bgimg-1 {
    background-attachment: fixed;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1600px) {
    .bgimg-1 {
        background-attachment: scroll;
        min-height: 300px;
    }
}
body{
	font-family: Verdana;
}

h3{
	color: black
	
}

.fixe{

	background-color: black;
	color: white;
	text-align: center;
	padding: 8px 20.4%;
	display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.fixe:hover {
   color: black;
   background-color: white;
}
.container {
  max-width: 1000px;
  margin-left: 60%;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  bottom:32%;
}

 th {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
  }

    tr {
      display: flex;
      padding: 2px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }