html{
  height: 100%;
  color: #F5F5F5;
  line-height: 1.8;
}

*{
  box-sizing: border-box;
}

body{
	color: black	
}

.inputs{
  position: relative;
  margin-left: 2%;
  margin-top: 4%;

}

.inputsh{
  position: absolute;
  left: 25%;
  width: 23%;
}

input[type=text] {
  border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: width 0.5s;
    outline: none;
}

-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
  font-size: 70%;
}
input[type=text]:focus {
    border: 3px solid black;
}

.bgimg-1 {
    background-image: url('navcog.jpg');
    min-height: 100%;
}

.bgimg-1 {
    background-attachment: fixed;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1600px) {
    .bgimg-1 {
        background-attachment: scroll;
        min-height: 300px;
    }
}

@media screen and (max-width: 800px) {
    .inputsh {
        position: relative;
        width: 100%;
        float: right;
        margin-top: 0;
        margin-right: 25%;
    }
}

@media screen and (max-width: 800px) {
    table{
      position: relative;
      display: inline-block;
      float: left;
      width: 100%;
      top: 130%;
      left: 1%;

    }
}

@media screen and (max-width: 800px){
  .spoiler {
    position: relative;
    margin-top: auto;
    margin-left: 0%;
  }
} 

@media screen and (max-width: 800px){
  .counter {
    position: absolute;
    margin-top: 65%;
    margin-left: 0%;
  }
} 


@media screen and (max-width: 800px){
  .add {
    width: 80%;
  }
} 

.add{

	background-color: black;
  opacity: 0.75;
  color: white;
  text-align: center;
  position: relative;
  padding: .75% 15%;
  display: inline-block;
  font-size: 100%;
  margin: 1% 5%;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.add:hover {
   color: black;
   background-color: white;
}

.counter{
  background-color: black;
  opacity: 0.75;
  color: grey;
  text-align: center;
  padding: .75% 2%;
  font-size: 100%;
  font-style: verdana;
  border-radius: 2px;
  border: 5px solid black;
  position: absolute;
  top:52%;
  right:0%;
  display: none;

}

.spoiler{

  margin-left: 5%;
  margin-bottom: 2%;
  position: absolute;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    right: 3%;
    margin-top: -17%;
    width: 45%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



